HTTP status code parsed error when setting Telerik Fiddler as proxy

In Function `Client::read_response_line`，regex to match first line is `(HTTP/1\\.[01]) (\\d+?) .*\r\n`
while Fiddler returned `HTTP/1.1 200\r\n`, then we got -1 as returned status.

I created a [pull request](https://github.com/yhirose/cpp-httplib/pull/553) to fix this, change the regex to `(HTTP/1\\.[01]) (\\d+).*?\r\n`

@Umiade, thank you for the feedback. But I wonder if your change is correct from the HTTP standpoint.

RFC2616 Section 6 clearly defines the status line as `Status-Line = HTTP-Version SP Status-Code SP Reason-Phrase CRLF`.
It doesn't allow us to omit `Reason-Phrase`.
https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html

So I feel that it's a bug in the Telerik FIddler, and HTTP libraries don't have to handle such an invalid data.

Please let me know if my understanding is incorrect.
Thanks!

It's true that status line `consist  of the protocol version, a space, the status code, another space, a possibly empty textual phrase describing the status code, and ending with CRLF`, that is, there should be two SP. 

However, we can‘t figure out clearly whether the data returned by the proxy software or VPN is standardized :(

@Umiade, I checked the definition of `Reason-Phrase`, and it is `Reason-Phrase  = *<TEXT, excluding CR, LF>`. So it is optional. Also the following stack overflow post backs up it. 
https://stackoverflow.com/questions/17517086/can-an-http-response-omit-the-reason-phrase

Thank you!

I merged your pull request.

@yhirose, Thank you! Strictly speaking, Reason-Phrase is optional while the second SP is mandatory;  
It means that It's ok to use like below：
```
HTTP-Version SP Status-Code SP CRLF
```
But `HTTP-Version SP Status-Code CRLF` is not correct.

It's more like a defensive regex to avoid irregular status lines.