Range request bug

When requesting a range from the server in the form "Range: bytes=1-2", i expect 1 byte to be returned.

I think the function get_range_offset_and_length() has a bug which would be fixed by:
  return std::make_pair(r.first, r.second - r.first );

instead of 
return std::make_pair(r.first, r.second - r.first +1 );


@fallenadi, thanks for the report. But what you suggests is not correct according to [the section 2.1 in RFC 7233](https://tools.ietf.org/html/rfc7233#section-2.1). The `last-byte-pos` should be '**inclusive**'.

```
   The first-byte-pos value in a byte-range-spec gives the byte-offset
   of the first byte in a range.  The last-byte-pos value gives the
   byte-offset of the last byte in the range; that is, the byte
   positions specified are inclusive.  Byte offsets start at zero.

   Examples of byte-ranges-specifier values:

   o  The first 500 bytes (byte offsets 0-499, inclusive):

        bytes=0-499

   o  The second 500 bytes (byte offsets 500-999, inclusive):

        bytes=500-999
```

Where did you get the information that `last-byte-pos` is 'exclusive'? It sounds curious.
Thanks.

Please let me know if I misunderstand what you were trying to say. Thanks.